h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.column {
  text-align: center;
  width: 400px;
  height: 600px;
  float: left;
  font-weight: bold;
  border: 1px solid black;
  background-color: blanchedalmond;
}

body {
  background-color: white;
}

img {
  width: 300px;
  border-radius: 30%;
}
